<%= form_for :text_form do |f| %>
	<p>
		<%= f.label "Текст" %>
		<br />
		<%= f.text_area :text, :value => @text %>
	</p>
	<p>
		<%= f.submit "Отправить" %>
	</p>
	
<% end %>
<% if @text_res %>
	<%= p @text_res %>
<% end %>